*{
    font-family:Righteous;
}
h2{
    color:white;
}
body{
    background:#A96F6F;
}
/*Taille des sections qui sont les pages */
.first, .second, .third, .fourth, .fifth{
    width:100%;
    min-height:100vh;

}
.jumbotron{
    background:#355C87;
    margin-top:9em;
}
footer{
    margin-bottom:6em;
}
/********/

/*******/

/**Style de la page accueil en responsive mobile */
@media screen and (max-width: 425px){
        .first .container .row{
            margin-right: 0;
        }
          .container .navbar{
              background:transparent;
              border:none;
          }
        .first .jumbotron{
            background: #005792;
            margin-top: 14em;

         }
         .first .jumbotron .presentation > h3{
             font-size:19px;
         }
  .second{

  }

  .third{

  }
  .fourth{

  }
}

    #Experiences .container-fluid{
        margin-top:12em;
    }
      #exp_poste,#exp_lieu,#exp_dates, #exp_description, #form_titre, #form_lieu,#form_dates,#form_description{
          border:none;
          color: white;
      }
      #exp_description,#exp_dates, #form_description, #form_dates{
          background:#A96F6F;
      }

      #exp_lieu{
          background:#005792;
      }
      #exp_poste,#form_titre{
         background:maroon;
      }




/********* fin du style responsive mobile*********/

/*************Page Accueil***********************/
.first{

}
        header{
              width:100%;
              z-index:1;
              position:fixed;
             }
        nav{
            width:100%;
        }
           .navbar{
               background:transparent;
               border:none;
           }
               .navbar-inverse .navbar-nav>li>a{
                   color:white;
                   text-shadow:black 3px 0px;
               }
                    ul{
                        text-align:center;
                        padding-top:2px;
                        font-family:Righteous;
                    }
                        ul li:hover{
                            background:#355C87;
                        }
           .first .jumbotron{
            margin-top:13em;
            background: #355C87;
         }
                .jumbotron .presentation{
                      font-family: Righteous;
                      color:white;
                      text-shadow: black 5px 0px;
                }
                   .jumbotron .presentation a>i{
                       color:white;
                   }
                   .jumbotron .presentation a>i:hover{
                       transition:1s ease;
                       transform:scale(1.3);
                   }
/***********************************************/
/***************Page Compétences****************/
.second{





}
/***************Fin page Compétences************/
.third{

}
.fourth{

}
