*{
    font-family:Righteous;

}
h2{
    color:white;
}
body{
    background-image:url(../img/green_dust_scratch.png);
}
footer{
    margin-bottom:6em;
}

/*************Page Accueil***********************/
.first{

}
        header{
              width:100%;
              z-index:1;
              position:fixed;
             }
        nav{
            width:100%;
            background:#096C47;
        }
           .navbar{
               background:#096C47;
               border:none;
           }
               .navbar-inverse .navbar-nav>li>a{
                   color:white;
               }
                    ul{
                        text-align:center;
                        padding-top:2px;
                        font-family:Righteous;
                    }
                        ul li:hover{
                            transition:0.4s;
                            background:#EAC100;
                            border-radius:4px;
                        }
           .first .jumbotron{
            margin-top:13em;
            background:#096C47;
            border:2px solid #EAC100;
            border-radius: 4px;
         }
                .jumbotron .presentation{
                      font-family:Righteous;
                      color:white;

                }
                   .jumbotron .presentation a>i{
                       color:white;
                   }
                   .jumbotron .presentation a>i:hover{
                       color:#EAC100;
                       transition:1s ease;
                       transform:scale(1.3);
                   }
/***********************************************/
/*Taille des sections qui sont les pages */
.first, .second, .third, .fourth, .fifth{
    width:100%;
    min-height:100vh;

}
.jumbotron{
    background:#096C47;
    border:none;
    margin-top:9em;
}
#Competences .progress{
    padding-left:0 ;
}

#Experiences .container-fluid{
    margin-top:12em;
}
#exp_poste,#exp_lieu,#exp_dates, #exp_description, #form_titre, #form_lieu,#form_dates,#form_description{
    border:none;
    background:#EAC100;
    color: white;
    padding-top: 11px;
}
#exp_description,#exp_dates, #form_description, #form_dates{
    background:#0B8457;
    border:2px;
    border-radius:4px;

}

#exp_poste,#form_titre{
    border: #EAC100 2px solid;
    border-radius: 4px;
    background:#0B8457;
}
/**Style des pages pour mobile */
@media screen and (max-width: 425px){
    .first .container .row{
        margin-right: 0;
    }
    .container .navbar{
        background:transparent;
        border:none;
    }
    .first .jumbotron{
        margin-top: 14em;

    }
    .first .jumbotron .presentation > h3{
        font-size:19px;
    }
    #exp_poste,#exp_lieu,#exp_dates, #exp_description, #form_titre, #form_lieu,#form_dates,#form_description{
        padding-top:0;
    }

}
/*****************************************/
