.first, .second, .third, .fourth, .fifth{
    width:100%;
    min-height:100vh;
}

.first{
    background-image: url("");
}
.second{
    background: maroon;
}
.third{
    background:brown;
}
.fourth{
    background: darkred;
}


/*
   Début style de la page d'accueil
*/

header{
    width:100%;
    z-index:1;
    position:fixed;
}
nav{
    /*hauter*/
   width: 100%;
}
