body{
    background-image:url(../img/canyon.jpg);
}

.contains{
    height:75%;
}
.jumbotron{
    height:100%;
}
.intro{
    margin-top:15%;
}
.btn{
    margin-top:8%;
    padding:20px 20px;
}
.socialnetwork{
    margin-top:14%;
}
