body
{
    background:darkolivegreen;
}
   .navbar-default
  {
    background:darkolivegreen;
    border:none;
    position:relative;
    z-index:1
  }
  .navbar-default li:hover
  {
      background:peachpuff;
      z-index:2;
      transition:1s;
  }
    .navbar-nav p
    {
      color:white;
      font-size:15px;
      font-weight:bold;
    }
/*.container-fluid
{
    background:peachpuff;

}*/
 .mastehead
 {
    background:darkolivegreen;
    width: 100%;
    height:90vh;
 }
  .container-jumbotron
  {
      padding-top:9px;
  }
   .jumbotron
   {
     background-image:url("../img/camo.png");
     color:white;
   }
     .jumbotron div
     {
       box-sizing:border-box;
       opacity:initial;
       font-size: 1.5em;
       text-align:center;
       font-family:Righteous;
     }
       .jumbotron a
       {
         margin-left: 9px;
         font-family:Righteous;
       }
      .panel-default
      {
          background:darkolivegreen;
          color:peachpuff;
          font-size:1em;
          font-family:Righteous;
          padding:2% 6%;
          border:none;
      }
      .panel-default:hover
      {
          background:moccasin;
          color:indianred;
          transition:1s;

      }
        .panel-heading
        {
            background:lightseagreen;
            border-radius:3px;
            text-align:center;
        }
